@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
}

/*bar*/
#top_bar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 90px;
    z-index: 998;
    /* border: 1px solid; */
}

#bar_bg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url("./img/web_bg_new.jpg");
    background-size: cover;
    opacity: 0;
}

#bar_content {
    position: absolute;
    top: 15%;
    right: 2%;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px solid; */
}

#menu_bar {
    top: 0;
    height: 100%;
}

#menu_bar {
    flex: 0.4;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid; */
}

#menu_link_content {
    position: absolute;
    width: 70%;
    height: 300px;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_link {
    flex: 0.4;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: 0.5s;
    /* border: 1px solid; */
}

.link_line {
    width: 0%;
    height: 5px;
    background-color: #ff99ff;
    opacity: 0;
    margin-left: 34px;
    margin-top: 10px;
    transition: width 0.5s;
}

.menu_link:hover {
    color: #ff99ff;
}

.menu_link:hover>.link_line {
    width: 90%;
    opacity: 1;
}

.menu_bg {
    position: fixed;
    background-image: url("../pic/sugerpic1.JPG");
    width: 0;
    height: 350px;
    right: 0vw;
    top: 0;
    overflow: hidden;
    transition: 0.5s;
}

#menu_btn {
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid; */
}

#toggle {
    top: 1%;
    right: 50px;
    width: 5vh;
    height: 5vh;
    margin: 0;
    opacity: 0;
    border: none;
}

#toggle:checked~.menu_bg {
    position: fixed;
    background-image: url("../pic/sugerpic1.JPG");
    width: 20%;
    height: 350px;
    right: 0vw;
    top: 0;
    transition: 0.5s;
}

.ham {
    right: 5%;
    width: 50px;
    transition: transform 400ms;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ham:hover>.line {
    transition: 0.5s;
    stroke: #ff99ff;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #ffffff;
    stroke-width: 3.5;
    stroke-linecap: round;
}

.ham .top {
    stroke-dasharray: 40 139;
}

.ham .bottom {
    stroke-dasharray: 40 180;
}

.ham.active .top {
    stroke-dashoffset: -98px;
}

.ham.active .bottom {
    stroke-dashoffset: -138px;
}

/*banner*/
.banner {
    position: relative;
    margin: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.banner .banner_bg{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    color: #555;
}

.banner  video {
    position: absolute;
    margin: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner iframe,
.banner object,
.banner embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider_container {
    width: 100%;
    height: auto;
    position: relative;
    max-width: 1920px;
    max-height: 1100px;
    align-content: center;
}
    
.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}



.anima1{
    animation: anima1 10s infinite linear;
}

@keyframes anima1{
    5%{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    20%{
        opacity: 1;
        filter: alpha(opacity=100);
        transform: scale(1.5);
    }
    25%{
        opacity: 0;
        filter: alpha(opacity=0);
    }
    100%{
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.anima2{
    animation: anima2 10s infinite linear;
}

@keyframes anima2{
    20%{
        opacity: 0;
        filter: alpha(opacity=0);
    }
    25%{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    40%{
        opacity: 1;
        filter: alpha(opacity=100);
        transform: scale(1.5);
    }
    45%{
        opacity: 0;
        filter:alpha(opacity=0);
    }
    100%{
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.anima3{
    animation: anima3 10s infinite linear;
}

@keyframes anima3{
    40%{
        opacity: 0;
        filter: alpha(opacity=0);
    }
    45%{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    60%{
        opacity: 1;
        filter: alpha(opacity=100);
        transform: scale(1.5);
    }
    65%{
        opacity: 0;
        filter:alpha(opacity=0);
    }
    100%{
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.anima4{
    animation: anima4 10s infinite linear;
}

@keyframes anima4{
    60%{
        opacity: 0;
        filter: alpha(opacity=0);
    }
    65%{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    90%{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    100%{
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@media screen and (min-width: 768px) {
    
}

.footer{
    background-color: #333;
    color: #aaa;
    text-align: center;
    margin: 10px 0 0;
    bottom: 0;
}


