@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
}

/*bar*/
#top_bar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 90px;
    z-index: 998;
    /* border: 1px solid; */
}

#bar_bg {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url("./img/web_bg_new.jpg");
    background-size: cover;
    opacity: 0;
}

#bar_content {
    position: absolute;
    top: 15%;
    right: 2%;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px solid; */
}

#menu_bar {
    top: 0;
    height: 100%;
}

#menu_bar {
    flex: 0.4;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid; */
}

#menu_link_content {
    position: absolute;
    width: 70%;
    height: 300px;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_link {
    flex: 0.4;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: 0.5s;
    /* border: 1px solid; */
}

.link_line {
    width: 0%;
    height: 5px;
    background-color: #ff99ff;
    opacity: 0;
    margin-left: 34px;
    margin-top: 10px;
    transition: width 0.5s;
}

.menu_link:hover {
    color: #ff99ff;
}

.menu_link:hover>.link_line {
    width: 90%;
    opacity: 1;
}

.menu_bg {
    position: fixed;
    background-image: url("../pic/sugerpic1.JPG");
    width: 0;
    height: 350px;
    right: 0vw;
    top: 0;
    overflow: hidden;
    transition: 0.5s;
}

#menu_btn {
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid; */
}

#toggle {
    top: 1%;
    right: 50px;
    width: 5vh;
    height: 5vh;
    margin: 0;
    opacity: 0;
    border: none;
}

#toggle:checked~.menu_bg {
    position: fixed;
    background-image: url("../pic/sugerpic1.JPG");
    width: 20%;
    height: 350px;
    right: 0vw;
    top: 0;
    transition: 0.5s;
}

.ham {
    right: 5%;
    width: 50px;
    transition: transform 400ms;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ham:hover>.line {
    transition: 0.5s;
    stroke: #ff99ff;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #ffffff;
    stroke-width: 3.5;
    stroke-linecap: round;
}

.ham .top {
    stroke-dasharray: 40 139;
}

.ham .bottom {
    stroke-dasharray: 40 180;
}

.ham.active .top {
    stroke-dashoffset: -98px;
}

.ham.active .bottom {
    stroke-dashoffset: -138px;
}

/*banner*/
.banner {
    position: relative;
    margin: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.banner .banner_bg{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    color: #555;
}

.banner  video {
    position: absolute;
    margin: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner iframe,
.banner object,
.banner embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.wrap{
    width: 100%;
    max-width: 1400px;
    margin: 0;
}

.item-group{
    display: flex;
    overflow: hidden;
}

.intro{
    margin: 100px 0px;
}

.intro h2{
    text-align: top;
    font-size: 50px;
}

.intro p{
    font-size: 20px;
}
.intro .item .pic1{
    max-height: 600px;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

@media screen and (min-width: 768px) {
    .item-group{
        display: flex;
        overflow: hidden;
    }
    .intro .item{
        display: flex;
    }
    .intro .item .pic1,.intro .item .text{
        width: 70%;
        margin: 0;
    }

    .intro .item .text{
        display: flex;
        padding: 0 20px;
        margin-left: 200px;
        margin-top: 20px;
        max-height: 500px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        writing-mode: vertical-rl;
    }
}

.footer{
    background-color: #333;
    color: #aaa;
    text-align: center;
    margin: 10px 0 0;
    bottom: 0;
}

.flexslider{
    position: relative;
    left: 10%;
    width: 80%;
    height: auto;
}

.flex-caption {
    width: 96%;
    margin: 0 0;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}
