@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
html,body{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    letter-spacing: 1px;
}

/*bar*/
#top_bar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 90px;
    z-index: 998;
    background-color: #ffffff;
    /* border: 1px solid; */
}

.title{
    left: 15%;
    top: 0;
    height: 90px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title img{
    transform: scale(0.8);
}

#bar_content {
    position: absolute;
    top: 0;
    right: 2%;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px solid; */
}

#menu_bar {
    top: 0%;
    height: 100%;
}

#menu_bar {
    flex: 0.4;
    color: #468346;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid; */
}

.logo{
    top: 0;
    width: 140px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo img{
    margin-top: 5px;
    height: 80px;
    width: 80px;
}

#menu_link_content {
    position: absolute;
    width: 70%;
    height: 300px;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_link {
    flex: 0.4;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: 0.5s;
    /* border: 1px solid; */
}

.link_line {
    width: 0%;
    height: 5px;
    background-color: #ff99ff;
    opacity: 0;
    margin-left: 34px;
    margin-top: 10px;
    transition: width 0.5s;
}

.menu_link:hover {
    color: #ff99ff;
}

.menu_link:hover>.link_line {
    width: 90%;
    opacity: 1;
}

.menu_bg {
    position: fixed;
    background-color: #AE0000;
    width: 25%;
    height: 100%;
    right: -25%;
    top: 0;
    overflow: hidden;
    transition: 0.5s;
}

#menu_btn {
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid; */
}

#toggle {
    top: 1%;
    right: 50px;
    width: 5vh;
    height: 5vh;
    margin: 0;
    opacity: 0;
    border: none;
}

#toggle:checked~.menu_bg {
    position: fixed;
    background-color: #ae0000;
    width: 20%;
    height: 100%;
    right: 0vw;
    top: 0;
    transition: 0.5s;
}

.ham {
    right: 5%;
    width: 50px;
    margin-top: 20px;
    transition: transform 400ms;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ham:hover>.line {
    transition: 0.5s;
    stroke: #ff99ff;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #AE0000;
    stroke-width: 3.5;
    stroke-linecap: round;
}

.ham .top {
    stroke-dasharray: 40 139;
}

.ham .bottom {
    stroke-dasharray: 40 180;
}

.ham.active .top {
    stroke-dashoffset: -98px;
}

.ham.active .middle {
    stroke: #ffffff;
}

.ham.active .bottom {
    stroke-dashoffset: -138px;
    stroke: #ffffff;
}


/*banner*/
.banner {
    position: relative;
    top: 0;
    margin: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.banner  #video {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner iframe,
.banner object,
.banner embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrap{
    width: 100%;
    margin: 0;
}

.slogan{
    margin: 100px 0;
    margin-top: 200px;
    background-color: #f7caa7;
}

.slogan .text{
    width: 100%;
    display: flex;
    margin: 50px 0;
    padding: 0 60px;
    max-height: 600px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.intro{
    margin: 100px 0;
    margin-top: 150px;
}

.intro .item-group{
    display: flex;
    overflow: hidden;
}

.item-group .pic1,.intro .item-group .text{
    width: 50%;
    margin: 0;
}

.intro .item-group img{
    max-height: 650px;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.intro .item-group .text{
    display: flex;
    padding: 0 20px;
    margin-top: 50px;
    max-height: 650px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
}

.intro p{
    margin-top: 55px;
}

.make{
    margin: 0px 0;
    margin-bottom: 200px;
    background-color: #f7caa7;
}

.make .item-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.history{
    margin: 100px 0;
    margin-bottom: 200px;
    background-color: #f7caa7;
}

.history .item-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.history .text{
    width: 60%;
    display: flex;
    margin: 50px 0;
    padding: 0 60px;
    max-height: 600px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: top;
    font-size: 44px;
    padding-left: 10px;
}

p{
    font-size: 20px;
    line-height: 40px;
}

@media screen and (max-width: 768px) {

    .banner  #video {
        position: absolute;
        margin: 0;
        top: 90px;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #top_bar {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 90px;
        z-index: 998;
        background-color: #ffffff;
        /* border: 1px solid; */
    }

    .title{
        left: 15%;
        top: 0;
        height: 90px;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .title img{
        transform: scale(0.8);
    }

    .logo{
        top: 0;
        width: 0;
        height: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .logo img{
        width: 0;
        height: 0;
    }

    #toggle:checked~.menu_bg {
        position: fixed;
        background-color: #ae0000;
        width: 100%;
        height: 100%;
        right: 0vw;
        top: 0;
        transition: 0.5s;
    }

    .slogan{
        margin: 0;
        margin-top: 90px;
    }

    .slogan .text{
        width: 100%;
        display: flex;
        margin: 50px 0;
        padding: 0 5px;
        max-height: 600px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .intro{
        margin: 50px 0;
        margin-top: 0;
    }

    .intro .item-group{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .item-group .pic1,.intro .item-group .text{
        width: 100%;
        margin: 0;
    }

    .intro .item-group img{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .intro h2{
        font-size: 50px;
    }
    
    .intro .item-group .text{
        display: flex;
        padding: 0 10px;
        margin-top: 50px;
        max-height: 650px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        writing-mode: horizontal-tb;
    }

    .history{
        margin: 0;
        margin-top: 50px;
    }

    .history .text{
        padding: 0;
        width: 90%;
    }

    .flexslider{
        position: relative;
        margin: 100px 0;
        margin-top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

}
.footer{
    background-color: #333;
    color: #aaa;
    text-align: center;
    margin: 10px 0 0;
    bottom: 0;
}

.flexslider{
    position: relative;
    margin: 100px 0;
    left: 25%;
    width: 50%;
    height: auto;
}

.flex-caption {
    width: 96%;
    margin: 0 0;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}
